<div id="game-container">
  <canvas id="game"></canvas>

</div>

<script type="text/javascript">
  var songName = '{{getSong songName}}';
  var date;
  var startTime = null;

  var loadSong = function(){
    var song = new Howl({
      src: ['/audio/' + songName +'.mp3']
    });
    song.once('load', function(){
      song.play();
        date = new Date();
        startTime = date.getTime();
    });
  }

  loadSong();
</script>
