<!-- Page Content -->
<div class="container" id="body-container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2" >
            <img class="img-responsive img-rounded" src="http://ilsvrc.cs.unc.edu/macv2015/images/unc_cs_logo.png" alt="U N C computer science" >
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">


        </div>
        <!-- /.col-md-4 -->
    </div>
      <h1>A game for everyone</h1>
    <hr>
    <p>Built entirely by current and former UNC Chapel Hill Computer Science majores,
      Move to the Music is a game designed with players with visual impairment in mind.
      Move to the Music provides engaging and phyisically active gameplay to players of
      all ages. Keep the beat to some of your favorite songs as you try to outdo yourself
      in others in this entirely browser-based game!</p>
    <!-- /.row -->
    <h2>Acknowledgements</h2>
    <hr>
    <p>Our team would like to thank the following people for their past work and current support of the Move to the Music project.</p>
    <ul>
    <li>Dr. Gary Bishop for providing feedback and advice on different challenges faced during the project.</li>
    <li>The past members of the Move to the Music team who provided the game's premise and art assets.</li>
    <li>The participants of UNC Maze Day for their willingness to try our game and look past any bugs we missed!</li>
    </ul>

    <div class="row">
          <div class="col-lg-12">
              <h2 class="page-header">Our Current Team</h2>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
              <img class="img-circle img-responsive img-center" src="/images/team/scott.jpg" alt="Picture of Scott Brumley">
              <h3>Scott Brumley
                  <small>Programmer</small>
              </h3>
              <p>Scott is a Junior CS major specialising in full stack web development. He enjoys using his knowledge in Computer Science to create meaningful applications that are centered around helping those with disabilities. To learn more about Scott's other projects and skills click<a href='https://www.linkedin.com/in/scott-brumley-75b380106/'> here.</a></p>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
              <img class="img-circle img-responsive img-center" src="/images/team/kyle.jpg" alt="Picture of Kyle Martin">
              <h3>Kyle Martin
                  <small>Programmer</small>
              </h3>
              <p>Kyle is a Junior CS major with interests in web development and network infrastructure. Kyle took an interest in the Move to the Music project as it combines his skills in programming with his love for music. To learn more about Kyle's other projects and skills click<a href='https://www.linkedin.com/in/kyle-martin-788742b2/'> here.</a></p>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
              <img class="img-circle img-responsive img-center" src="/images/team/austin.jpg" alt="Picture of austin schaefers" style="width: 360px; height: 360px;">
              <h3>Austin Schaefers
                  <small>Programmer</small>
              </h3>
              <p>Austin is a Junior CS and Stats major specialising in backend development and business. He is happy to be a part of the Move to the Music project while giving back to the local visually-impaired community. To learn more about Austin's other projects and skills click<a href='https://www.linkedin.com/'> here.</a></p>
          </div>
      </div>

</div>
<!-- /.container -->
