<div class="container">
  <!-- Introduction Row -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">About Us</h1>
          <p>Move to the Music is a web-based video game inspired by the 2008 UNC-created game of the same name.
		  One aspect of the game's design, which sets it apart from other web games, is the fact that the game is
		  geared towards individuals with visual impairment. Gameplay involves users selecting a song from a preset
		  list of possibilities. Once a song is selected, the user is prompted to "move to the music". To do this, 
		  the user can step on any of the 8 buttons of a connected Dance Pad, or press the q,w,e,a,d,z,x,c keys on 
		  the keyboard if the player doesn't have a Pad. Players are rewarded points based on how well they can press
		  buttons in tune to the song's beat. Extra points are given to players who can succesfully perform preset combos
		  by pressing keys in certain orders.</p>
      </div>
  </div>

  <!-- Team Members Row -->
  <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Our Current Team</h2>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>Scott Brumley
              <small>Programmer</small>
          </h3>
          <p>Scott is a Junior CS major specialising in full stack web development. After being exposed to the original concept of Move to the Music by his older brother Trey Brumley, Scott came up with the idea of porting the 2008 version of the game to the web. Scott works across the stack while designing the game's logic.</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>Kyle Martin
              <small>Programmer</small>
          </h3>
          <p>Kyle is a Junior CS major specialising in full stack web development, specifically front end design. Kyle was inspired to join the the MtM team after seeing the spectacular precision Scott was able to program his comp 431 assignment</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>Austin Schaefers
              <small>Programmer</small>
          </h3>
          <p>Austin is a Junior CS major specialising in backend development. He has experience with object-oriented programming and is familiar with dance pad games after coming in second in the bi-annual Charlotte Dance Dance Revolution tournament in 2014!</p>
      </div>
  </div>
</div>