<!-- Page Content -->
<div class="container" id="body-container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive img-rounded" src="http://ilsvrc.cs.unc.edu/macv2015/images/unc_cs_logo.png" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1>A game for everyone</h1>
            <p>Built entirely by current and former UNC Chapel Hill Computer Science majores,
			Move to the Music is a game designed with players with visual impairment in mind.
			Move to the Music provides engaging and phyisically active gameplay to players of
			all ages. Keep the beat to some of your favorite songs as you try to outdo yourself
			in others in this entirely browser-based game!</p>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <hr>

</div>
<!-- /.container -->
<div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Our Current Team</h2>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>Scott Brumley
              <small>Programmer</small>
          </h3>
          <p>Scott is a Junior CS major specialising in full stack web development. After being exposed to the original concept of Move to the Music by his older brother Trey Brumley, Scott came up with the idea of porting the 2008 version of the game to the web. Scott works across the stack while designing the game's logic.</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>Kyle Martin
              <small>Programmer</small>
          </h3>
          <p>Kyle is a Junior CS major specialising in full stack web development, specifically front end design. Kyle was inspired to join the the MtM team after seeing the spectacular precision Scott was able to program his comp 431 assignment</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
          <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
          <h3>Austin Schaefers
              <small>Programmer</small>
          </h3>
          <p>Austin is a Junior CS major specialising in backend development. He has experience with object-oriented programming and is familiar with dance pad games after coming in second in the bi-annual Charlotte Dance Dance Revolution tournament in 2014!</p>
      </div>
  </div>
