<!-- Page Content -->
<div class="container" id="body-container">

  <div class="main-login main-center">
    <form id="name-submit" class="form-horizontal" method="post" action="#">
      <div class="form-group">
        <a href="/game/play"></a><button type="button" class="btn btn-primary btn-lg btn-block">Play</button></a>
        <a href="/game/tutorial"></a><button type="button" class="btn btn-primary btn-lg btn-block">Tutorial</button></a>
        <a href="/about"></a><button type="button" class="btn btn-primary btn-lg btn-block">About</button></a>
      </div>
    </form>
  </div>

</div>
<!-- /.container -->
