<!-- Page Content -->
<div class="container" id="body-container">

    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive img-rounded" src="http://placehold.it/900x350" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">
            <h1>A game for everyone.</h1>
            <p>Say some stuff here</p>
            <a class="btn btn-primary btn-lg" href="/play">Play now!</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <hr>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h2>About</h2>
            <p>say some stuff here</p>
            <a class="btn btn-default" href="/about">About</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 col-md-offset-2">
            <h2>Play</h2>
            <p>say some stuff here</p>
            <a class="btn btn-default" href="/play">Play</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
