<!-- Page Content -->
<div class="container" id="body-container">

  <div class="main-login main-center">
    <form id="name-submit" class="form-horizontal" method="post" action="#">
      <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block">Play</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Tutorial</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">About</button>
      </div>
    </form>
  </div>

</div>
<!-- /.container -->
