<!-- Page Content -->
<div class="container" id="body-container">

  <div class="main-login main-center col-md-4 col-md-offset-4">
    <a href="/songs"><button type="button" class="btn btn-primary btn-lg btn-block">Play</button></a>
    <a href="/game/tutorial"><button type="button" class="btn btn-primary btn-lg btn-block">Tutorial</button></a>
    <a href="/about"><button type="button" class="btn btn-primary btn-lg btn-block">About</button></a>
  </div>

</div>
<!-- /.container -->
