<div class="container">

  <div class="col-xs-6 col-xs-offset-3 button">
    <a href="/play/song-select" class="btn btn-info btn-lg" role="button">Play</a>
  </div>

  <div class="col-xs-6 col-xs-offset-3 button">
    <a href="/play/setup" class="btn btn-info btn-lg" role="button">Setup</a>
  </div>

  <div class="col-xs-6 offset-xs-3 button">
    <a href="/play/help" class="btn btn-info btn-lg" role="button">Help</a>
  </div>

</div>
